###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> symfonycasts/tailwind-bundle ###
/var/tailwind/
###< symfonycasts/tailwind-bundle ###

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Docker
frankenphp/certs/
/.env.prod

# Build artifacts
/public/build/

# PHPStan cache
/tmp/
/.phpunit.result.cache
/.php-cs-fixer.cache
/.rector/

# Logs
*.log

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

.env.local
public/uploads

docker-compose.override.yaml
