{% extends 'email/layout.html.twig' %}

{% block email_styles %}
    .header { text-align: center; }
{% endblock %}

{% block email_header %}
    <div class="logo">
        <svg width="28" height="28" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="8" fill="#ffffff"/>
            <path d="M8 10h4l3 8 3-8h4M8 22h16" stroke="#09090b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span style="margin-left:10px;">WebDream Manager</span>
    </div>
{% endblock %}

{% block email_body %}
    <p>Your authentication code:</p>
    <p class="code">{{ code }}</p>
    <p>This code expires in 10 minutes. Do not share it with anyone.</p>
{% endblock %}

{% block email_footer %}
    WebDream Manager &bull; This is an automated security message.
{% endblock %}
