{% extends 'email/layout.html.twig' %}

{% block email_styles %}
    .header { text-align: center; }
{% endblock %}

{% block email_header %}
    <div class="logo">
        <svg width="28" height="28" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="8" fill="#ffffff"/>
            <path d="M8 10h4l3 8 3-8h4M8 22h16" stroke="#09090b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span style="margin-left:10px;">WebDream Manager</span>
    </div>
{% endblock %}

{% block email_body %}
    <h1>You've been invited</h1>
    <p>Hi <strong style="color: #ffffff;">{{ user.fullName }}</strong>,</p>
    <p>Your account has been created on WebDream Manager. Click the button below to set up your profile and choose a password. This link expires in <strong>7 days</strong>.</p>
    <a href="{{ setupUrl }}" class="btn">Set up my account &rarr;</a>
    <p class="url">Or copy this link: <br>{{ setupUrl }}</p>
{% endblock %}

{% block email_footer %}
    You received this email because an administrator created an account for you. If you weren't expecting this, you can safely ignore it.
{% endblock %}
