<!DOCTYPE html>
<html lang="en" data-turbo-prefetch="true">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WebDream Manager{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    {% block stylesheets %}{% endblock %}
    {{ importmap('app') }}
</head>
<body class="app-layout">

{% block body %}{% endblock %}

</body>
</html>
